<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intern</title>
</head>

<body> -->
    <div class="card">
        <h3>Name</h3>
        <h3><img src="https://images.vexels.com/media/users/3/131298/isolated/preview/65524ab3c33f3f219fbe7f0ab6d051c8-male-graduate-icon-by-vexels.png" width="25px" height="25px">Intern</h3>
        <h4>ID:</h4>
        <h4>Email:</h4>
        <h4>School:</h4>
    </div>
<!-- </body>

</html> -->