<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manager</title>
</head>

<body> -->
    `<div class="card">
        <h3>Name</h3>
        <h3><img src="https://images.vexels.com/media/users/3/153953/isolated/preview/21169a082566cff6d4bc05a88e22c1dc-tie-colored-stroke-icon-by-vexels.png" width="25px" height="25px">Manager</h3>
        <h4>ID:</h4>${teamManager.id}
        <h4>Email:</h4>${teamManager.email}
        <h4>Office Number:</h4>${teamManager.officeNumber}
    </div>`
<!-- </body>

</html> -->